@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&display=swap");
:root {
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);

  --Light-Grayish-Cyan-Bg: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

.league-spartan-500 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.league-spartan-700 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: grid;
  grid-template-rows: max-content;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--Light-Grayish-Cyan-Bg);
}

main {
  height: 100%;
}

header {
  position: relative;
  background-color: var(--Desaturated-Dark-Cyan);
  & > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.clear-btn {
  color: var(--Dark-Grayish-Cyan);
  align-self: stretch;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: var(--Desaturated-Dark-Cyan);
  }
}
.job-listings {
  padding: 0;
  /* Mobile */
  /* margin-block-start: 9.1rem; */
  /* margin-block-end: 2rem; */
  /* Desktop */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Mobile */
  /* margin-block-start: 4.5rem; */
  /* margin-block-end: 2rem; */
  /* DEsktop */
  margin-block-start: 4.5rem;
  margin-block-end: 2rem;
  & > .job-listing {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: white;
    box-shadow: 0px 20px 20px 0px
      hsl(from var(--Desaturated-Dark-Cyan) h s l / 0.5);
    max-inline-size: 66.79rem;
    /* Mobile */
    /* border-radius: 0.5rem; */
    /* padding-inline: 1.15rem; */
    /* margin-block-start: 2.5rem; */
    /* margin-inline: 1.1rem 1.2rem; */
    /* gap: 0rem */
    /* Desktop */
    border-radius: 0.5rem;
    padding-inline: 2.3rem 2.5rem;
    /* margin-block-start: 2.5rem; */
    margin-inline: 10.2rem 10.2rem;
    gap: 1.5rem;
  }
}
.no-filter-margin {
  margin-block-start: 4rem;
}
.job-listing-featured {
  border-left: 0.35rem solid var(--Desaturated-Dark-Cyan);
}
.job-listing-desc {
  flex: content;
  display: flex;
  flex-direction: column;
  border-bottom: 0.05rem solid var(--Dark-Grayish-Cyan);
  width: 100%;

  /* Mobile */
  /* padding-block-start: 2.1rem; */
  /* padding-block-end: 1rem; */
  /* gap: 0.5rem; */
  /* Desktop */
  padding-block-start: 2.1rem;
  padding-block-end: 1.8rem;
  gap: 0.3rem;
}

.company-logo {
  position: absolute;
  top: -1.5rem;
  bottom: 0;
  left: 1.2rem;
  right: 0;
  /* Mobile */
  /* width: 3rem; */
  /* Desktop */
  width: 5.5rem;
  transition: all 1s ease;
}
.company-name {
  color: var(--Desaturated-Dark-Cyan);
  /* Mobile */
  /* font-size: 0.95rem; */
  /* Desktop */
  font-size: 1.1rem;
}

.featured {
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
  background-color: var(--Very-Dark-Grayish-Cyan);
  border-radius: 1rem;
  font-size: 0.85rem;
  padding-inline: 0.5rem;
  padding-block-start: 0.2rem;
  margin-inline-start: -0.8rem;
}
.filter {
  max-inline-size: 66.79rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: white;
  box-shadow: 0px 20px 20px hsl(from var(--Very-Dark-Grayish-Cyan) h s l / 0.2);
  border-radius: 0.3rem;

  /* Mobile */
  /* bottom: -5.5rem; */
  /* left: 0; */
  /* right: 0; */
  /* padding: 1.5rem; */
  /* margin-inline: 1.1rem 1.2rem; */
  /* Desktop */
  bottom: -2.5rem;
  left: 0;
  right: 0;
  padding-block: 1.3rem;
  padding-inline: 2.5rem;
  margin-inline: 10.2rem;
}
.job-listing-company {
  display: flex;
  /* align-items: center; */
  /* Mobile */
  /* gap: 1.4rem; */
  /* Desktop */
  gap: 1.2rem;
}
.job-listing-time {
  display: flex;
  color: var(--Dark-Grayish-Cyan);
  /* Mobile */
  /* font-size: 1rem; */
  /* gap: 0.5rem; */
  /* Desktop */
  font-size: 1.1rem;
  margin-block-start: -0.3rem;
  gap: 0.9rem;
}
.job-listing-title {
  /* Mobile */
  /* font-size: 0.95rem; */
  /* Desktop */
  font-size: 1.38rem;
  &:hover {
    cursor: pointer;
    color: var(--Desaturated-Dark-Cyan);
  }
}
.job-listing-categories {
  display: flex;
  flex-wrap: wrap;
  /* Mobile  */
  /* gap: 0.9rem; */
  /* padding-block-start: 1rem; */
  /* padding-block-end: 1.5rem; */
  /* Desktop */
  gap: 0.9rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0rem;
}
.tokens {
  display: flex;
  flex-wrap: wrap;
  /* Mobile */
  /* gap: 0.9rem; */
  /* Desktop */
  gap: 1.2rem;
}
.token {
  padding-inline: 0.6rem;
  padding-block: 0.25rem;
  background-color: var(--Light-Grayish-Cyan-Bg);
  color: var(--Desaturated-Dark-Cyan);
  border-radius: 0.3rem;
}
.job-listing-categories > .token:hover {
  background-color: var(--Desaturated-Dark-Cyan);
  color: white;
  cursor: pointer;
}
.token-container {
  display: flex;
  & > button {
    background-color: var(--Desaturated-Dark-Cyan);
    padding-inline: 0.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  & > button:hover {
    background-color: var(--Very-Dark-Grayish-Cyan);
    cursor: pointer;
  }
}
.new {
  color: var(--Light-Grayish-Cyan-Filter-Tablets);
  background-color: var(--Desaturated-Dark-Cyan);
  font-size: 0.9rem;
  padding-inline: 0.5rem;
  padding-block-start: 0.2rem;
  border-radius: 1rem;
}
@media (min-width: 45rem) {
  .job-listings {
    & > .job-listing {
      flex-direction: row;
      align-items: center;
      position: static;
    }
  }

  .no-filter-margin {
  }
  .job-listing-desc {
    border-bottom: 0;
  }
  .company-logo {
    position: static;
  }
}
